annotated-types
anyio
blinker
boto3
botocore
CacheControl
cachetools
certifi
cffi
charset-normalizer
click
cloudevents
cryptography
deepl
deprecation
distro
firebase-admin
firebase-functions
Flask
Flask-Cors
functions-framework
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-cloud-video-transcoder
google-cloud-videointelligence
google-crc32c
google-events
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
gunicorn
h11
httpcore
httplib2
httpx
idna
itsdangerous
Jinja2
jmespath
MarkupSafe
msgpack
openai
packaging
proto-plus
protobuf
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic_core
PyJWT
pyparsing
python-dateutil
python-dotenv
pytube
PyYAML
rapidfuzz
requests
rsa
s3transfer
six
sniffio
tqdm
typing_extensions
uritemplate
urllib3
watchdog
Werkzeug